/* style.css */

/* Resetting margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5; /* Light gray background */
}

/* Header */
.header {
    background-color: #232f3e; /* AWS Dark blue background */
    color: #ffffff; /* White text */
    padding: 15px 0;
    text-align: center;
    width: 80%; /* Set header width to 80% */
    margin-left: 20%;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

/* Navigation */
nav {
    background-color: #232f3e; /* AWS Dark blue background */
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #ffffff; /* White text */
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1c2733; /* Darker blue background on hover */
}

/* Sections */
section {
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

section#about {
    background-color: #ffffff; /* White background */
}

section#projects {
    background-color: #f8f8f8; /* Light gray background */
}

section#contact {
    background-color: #ffffff; /* White background */
    width: 80%; /* Set contact section width to 80% */
    margin-left: 20%; /* Add left margin equivalent to sidebar width */
    text-align: center; /* Center-align text within the contact section */
}

/* Footer */
footer {
    background-color: #232f3e; /* AWS Dark blue background */
    color: #ffffff; /* White text */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Social Media Icons */
.contact-links {
    margin-top: 20px;
}

.contact-links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

/* Hover Effect for Social Media Icons */
.contact-links a:hover {
    color: #777;
}

/* Sidebar */
.sidebar {
    background-color: #f8f8f8; /* AWS Light gray background */
    padding: 20px;
    width: 20%; /* Set sidebar width to 20% */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.sidebar h2 {
    color: #333; /* Dark gray text */
    margin-bottom: 20px;
}

.sidebar a {
    color: #333; /* Dark gray text */
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #e5e5e5; /* Light gray background on hover */
}

/* Main Content */
.main-content {
    width: 80%; /* Set content width to 80% */
    margin-left: 20%; /* Add left margin equivalent to sidebar width */
    text-align: center; /* Center-align text within the content area */
}

/* Additional styles for mid class */
.mid {
    align-content: center;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

/* Tech Stack Section */
section#tech-stack ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

section#tech-stack li {
    margin-bottom: 5px; /* Add spacing between list items */
}
